<h1>Palatable</h1>

<div class="flash info">
  Palatable is a bookmarks manager. Currently, this application is under a lot of development and 
  will be changing frequently. Feel free to try it out. Just keep in mind it is not feature complete. And, data will not be saved.
</div>

