<header>
  <div class="top_logo round">
    <div>Palatable: Bookmark Manager</div>
  </div>

  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Bookmarks", bookmarks_path %></li>
    </ul>
  </nav>
</header>
